// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.p-inputgroup{
    width: 15%;
    .p-inputtext{
    background-color: #f3f3f9;
    border-color: #f3f3f9;
    font-size: 12px;
    }
    .p-button{
        box-shadow: 0 2px 6px #5156be;
        background: #5156be;
       
    }
}
.layout-topbar .search{
    margin-left: 12px;
}
.p-button{
    
    background-color: #5156be;
   
}










