<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{appMain.config.dark ? 'kalantakwhite' : 'kalantak'}}.png" alt="logo">
    </a>
    <div style="border-right: black;">
        <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
            <i class="pi pi-bars"></i>
        </a>
    </div>
    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#">
        <i class="pi pi-ellipsis-v" (click)="responsiveclick.toggle($event)"></i>
    </a>

    <div class="p-inputgroup {'layout-topbar-menu-mobile-active':appMain.topMenuActive} layout-topbar-menu search">

        <input type="text" pInputText placeholder="Search...">
        <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>

    </div>
    <div class="layout-topbar-menu " [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <a href="#" class="p-link layout-topbar-button">

            <img class="flag" src="assets/layout/images/flag.png" alt="flag" (click)="flagmenu.toggle($event)">
        </a>

        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-th-large" (click)="appmenu.toggle($event)"></i>

            <img class="flag" src="assets/layout/images/flag.png" alt="flag" (click)="flagmenu.toggle($event)">
        </a>

        <a href="#" class="p-link layout-topbar-button">
            <p-toggleButton [(ngModel)]="checked1" onIcon=" pi pi-sun" offIcon="pi pi-moon" (click)="changeTheme()">
            </p-toggleButton>

        </a>

        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-th-large" (click)="appmenu.toggle($event)"></i>

        </a>

        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-bell" pBadge value="4" severity="danger"></i>
        </a>

        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
        </a>
        <a class="p-link layout-topbar-button">
            <p-avatar image="assets/layout/images/avtar.png" shape="circle" size="large"> </p-avatar>

        </a>

        <a class="p-link layout-topbar-button">
            <i class="pi pi-angle-down " (click)="lastmenu.toggle($event)"></i>
        </a>


    </div>

</div>
<p-menu [showTransitionOptions]="'0ms'" #lastmenu [model]="profileitems" [popup]="true"></p-menu>
<p-menu [showTransitionOptions]="'0ms'" #appmenu [model]="appitems" [popup]="true"></p-menu>
<p-menu [showTransitionOptions]="'0ms'" #flagmenu [model]="flagitems" [popup]="true"></p-menu>
<p-menu [showTransitionOptions]="'0ms'" #responsiveclick [model]="responsiveitems" [popup]="true"></p-menu>